# common
DATABASE_POSTGRES_HOST=postgres
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=your_database_name
# required for node app
## app connects to pgbouncer
## pgbouncer config for app
PGBOUNCER_HOST=pgbouncer
PGBOUNCER_PORT=6432
## application listen port
APP_PORT=4000
# postgres
POSTGRES_USER=${DATABASE_USER}
POSTGRES_PASSWORD=${DATABASE_PASSWORD}
POSTGRES_DB=${DATABASE_NAME}
# pgbouncer
DB_USER=${DATABASE_USER}
DB_PASSWORD=${DATABASE_PASSWORD}
DB_HOST=${DATABASE_POSTGRES_HOST}
ADMIN_USERS=${DATABASE_USER}
LISTEN_PORT=${PGBOUNCER_PORT}
POOL_MODE=session
AUTH_TYPE=trust
